%ul 
  - @rows.each do |row|
    %li 
      = row["name"]
      %ul
        %li
          Factual id: 
          = row["factual_id"] 
        %li
          Address: 
          = row["address"] 
        %li
          Extended address: 
          = row["address_extended"] 
        %li
          Postcode: 
          = row["postcode"]
        %li
          Category: 
          = row["category"] 
        %li
          Latitude: 
          = row["latitude"]
        %li
          Longitude: 
          = row["longitude"] 