<!DOCTYPE html>
<html>
<head>
  <title>Hawaii</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "http://cdn.leafletjs.com/leaflet-0.7/leaflet.js" %>
  <%= stylesheet_link_tag "http://cdn.leafletjs.com/leaflet-0.7/leaflet.css" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
